body {
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif

}

.MainPageHeader {
    background-color: rgb(213, 238, 157);
    border-radius: 10px;
    font-size: xx-large;

}

h1 {
    display: flex;
    justify-content: center;
}

.PageTotal {

    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}

/*Fish area on the left*/

.FishSection {
    background-color: rgb(203, 250, 235);
    border-radius: 10px;
    width: 70%;
    margin: 10px;

}

.Fishheader {
    background-color: rgb(213, 238, 157);
    text-align: center;
    border-radius: 10px;
}

.AllFish {

    display: flex;
    justify-content: flex-start;

}

.FishList {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.fish__card {
    margin: 5px;
    background-color: rgba(212, 238, 157, 0.403);
    border-radius: 10px;

}

.fish__species,
.fish__length,
.fish__location,
.fish__diet {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: small;
    width: 200px;


}

.fish__name {
    background-color: rgb(203, 250, 235);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fish__image {
    height: 145px;
    width: 200px;
    margin-top: 11px;
}

/*Side bar area*/
.SideBar {
    background-color: rgb(184, 248, 228);
    border-radius: 10px;
    width: 40%;
    margin: 10px;

}
/*locations area*/
.LocationinfoBox {}

.LocationsHeader {
    background-color: rgb(213, 238, 157);
    border-radius: 10px;
    text-align: center;
}

.AllLocations {
    display: flex;
    justify-content: center;
}

.LocationsList {
    background-color: rgb(213, 238, 157);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locations__card {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    display: flex;
    justify-content: center;

    margin: 5px;
    text-align: center;

    font-size: x-large;


}

.fish__locations {
    display: flex;

    flex-direction: column;


}


/*location tips area*/

.TipsinfoBox {
    background-color: rgb(232, 245, 205);
    margin: 10px;
    border-radius: 10px;

}

.TipsHeader {
    background-color: rgb(213, 238, 157);
    border-radius: 5px;
    display: flex;
    justify-content: center;

}

.AllTips {
    text-align: center;
}


.tips__card {
    display: flex;
    justify-content: center;
}
/*care information area*/
.CareinfoBox {
    background-color: rgb(232, 245, 205);
    margin: 10px;
    border-radius: 10px;

}

.CareHeader {
    background-color: rgb(213, 238, 157);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
 


.FishCareTips__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.FishCareTips__quotes {

    margin: 10px;
} 